@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    -fx-font-family: 'Montserrat', sans-serif;
}

.button{
    
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-text-fill: #FDFBF9;
    -fx-padding: 10px;
    -fx-background-insets: 2px;
    -fx-background-radius: 2px;
    -fx-cursor: HAND;
}
.identificadores{
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill:#29a58c;
}
.identificandos{
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill:BLACK;
    
}
.titulo{
    -fx-font-size: 30px;
    
}

.aviso{
    -fx-padding: 5px;
}

.aviso-erro{
    
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-background-color: red;
}

.aviso-sucesso{
    
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-background-color:  #248f24;
}
