*
{
	font-family: 'Montserrat', sans-serif;
}

a
{
	margin: 0;
	padding: 0;
	text-align: center;
}

.btn
{
	color: #FDFBF9;
	font-size: 15px;

	width: 25%;
	text-align: center;
	padding: 2%;
	padding-bottom: 3%;
	text-transform: uppercase;
}

.delete
{
	background-color: #E53935;
}

.edit
{
	background-color: #2C46A5;
}

.new
{
	background-color: #00B0FF;
}

h1
{
	background-color: #29A58C;
	font-size: 32px;
	margin-left: 5%; margin-right: 5%;
	width: 90%;
	padding: 1%;
	color: #FDFBF9;
}


.segurador{
	width: 90%;
	margin-left: 5%; margin-right: 5%;
	padding: 1%;
	background-color: #E1E4F0;
}

.tabela{
  display: table;
}

.txt_right{
	text-align: right;
}

.sem_padding_lateral{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.formulario
{
	width: 90%;
	margin-left: 5%; margin-right: 5%; margin-top: 2%;
}

/* Tela Inicial Professor */
#dados_professor, #dados_titulo
{
	width: 90%;
	margin-left: 5%; margin-right: 5%;
}

#listagemDisciplinas
{
	width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #E1E4F0;
    height: 40vh;
    margin-top: 2%;
    padding-top: 5%;
}

#listagemDisciplinas table .btn
{
	font-size: 10px;
}

#listagemDisciplinas th:nth-of-type(2)
{
	width: 60%;
}

#listagemDisciplinas th:nth-of-type(3)
{
	width: 10%;
}

#listagemDisciplinas th:nth-of-type(4)
{
	width: 10%;
}

#listagemDisciplinas tr td:nth-of-type(5)
{
	text-align: center;
}


/* Tela Disciplina Professor */
#conteudos h5
{
	margin-left: 5%;
	color: #29a58c;
}

#conteudos p
{
	margin-left: 5%;
}

#conteudos table
{
	margin-left: 5%;
	width: 90%;
}

#conteudo th:nth-of-type(1)
{
	width: 70%;
}

#conteudo th:nth-of-type(2), #conteudo th:nth-of-type(3)
{
	width: 15%;
}

#conteudo, #atividade
{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
	padding-top: 1%; padding-bottom: 2%;
	width: 90% !important;
	background-color: #e5e5e5;
}

#atividade th:nth-of-type(1)
{
	width: 70%;
}

#atividade th:nth-of-type(2),#atividade th:nth-of-type(3)
{
	width: 15%;
}

#btnConteudos, #btnAtividades
{
	margin-left: 5%;
	margin-top: 2%;
}

.modal .btn-large
{
	margin-top: 4%;
}

/* Tela Inicial Aluno */
#aluno th:nth-of-type(1)
{
	width: 10%;
}

#aluno th:nth-of-type(2)
{
	width: 60%;
}

#aluno th:nth-of-type(1)
{
	width: 15%;
}

#aluno th:nth-of-type(1)
{
	width: 15%;
}

#aluno .area
{
	padding-bottom: 2%; padding-top: 2%;
	width: 90%;
	margin-left: 5%;
}

#aluno .area:nth-of-type(1)
{
	padding-left: 5%;
}


#modalConteudoAluno th:nth-of-type(1)
{
	width: 10%;
}

#modalConteudoAluno th:nth-of-type(2)
{
	width: 20%;
}

#modalAtividadeAluno th:nth-of-type(1)
{
	width: 10%;
}

#modalAtividadeAluno th:nth-of-type(2), #modalAtividadeAluno th:nth-of-type(3)
{
	width: 15%;
}

/* footer */
.modal
{
	width: 80%;
	background-color: #E5E5E5;
	min-height: 50vh;
	max-height: 80vh;
	overflow-y: hidden;
}

#modalDescartes
{
	padding: 5%;
	padding-top: 3%;

}

#modalDescartes button
{
	margin-top: 5%;
}


/* form */
label
{
	font-size: 15px;
	line-height: 10px;
	color: #29A58C;
}

input
{
	display: block;
	font-style: italic;
}

input[type=text]:not(.browser-default).short, input[type=date]:not(.browser-default).short
{
	width: 30%;
	border: none;
	border-bottom: 1px solid #29A58C;
}

textarea:not(.browser-default)
{
	width: 100%;
	border: none;
	border-bottom: 1px solid #29A58C;
}

/* table */

table
{
	width: 80%;
	margin-left: 10%; margin-right: 10%;
	display: block;
	overflow-y: scroll;
	max-height: 30vh;
}

.modal table th, thead
{
	color: #29A58C;
	border-bottom: 1px solid #29A58C;
	text-transform: uppercase;
}

/* Toast */
.erro{
	background-color: #E53935;
}

.sucesso{
	background-color: #00E676;
}